---
layout: page
group: topmenu,leftmenu
menusort: 2

title: Прайс-лист
---




<p>Цены определяются на стадии разработки проекта в зависимости от сложности выполнения работ и
    используемых материалов. Для того, чтобы получить подробную информацию о наших расценках, Вы
    можете связаться с нами в разделе "<a href="forma.html">Онлайн-заявка</a>".</p>

<div class="mg-tab mg-tb10">
    <div class="title">
        <p style="text-align: center;"><span style="font-size: 12pt;"><strong>Замена технических жидкостей и фильтров</strong></span></p>
    </div>
    <div class="body">
        <table border="0" class="mg-tabs4" style="width: 100%;">
            <tr> 
                <td><strong>Наименование услуги</strong></td>  
                <td align="center" style="text-align: center;"><strong>ед.</strong></td>
                <td align="center" style="text-align: center;"><strong>мин(руб)</strong></td>
                <td align="center" style="text-align: center;"><strong>макс(руб)</strong></td>
            </tr> 
            {% for price in site.data.price_oil %}
            <tr>
                <td>{{ price.name }}</td>
                <td align="center" style="text-align: center;">{{ price.ie }}</td>
                <td align="center" style="text-align: center;">{{ price.min }}</td>
                <td align="center" style="text-align: center;">{{ price.max }}</td>
            </tr>
            {% endfor %} 
        </table>
    </div>
</div>
<div class="mg-tab mg-tb10">
    <div class="title">
        <p style="text-align: center;"><span style="font-size: 12pt;"><strong>Ремонт ходовой части</strong></span></p>
    </div>
    <div class="body">
        <table border="0" class="mg-tabs4" style="width: 100%;">
            <tr> 
                <td><strong>Наименование услуги</strong></td>
                <td align="center" style="text-align: center;"><strong>ед.</strong></td>
                <td align="center" style="text-align: center;"><strong>мин(руб)</strong></td>
                <td align="center" style="text-align: center;"><strong>макс(руб)</strong></td>
            </tr> 
            {% for price in site.data.price_base %}
            <tr>
                <td>{{ price.name }}</td>
                <td align="center" style="text-align: center;">{{ price.ie }}</td>
                <td align="center" style="text-align: center;">{{ price.min }}</td>
                <td align="center" style="text-align: center;">{{ price.max }}</td>
            </tr>
            {% endfor %} 
        </table>
    </div>
</div>
<div class="mg-tab mg-tb10">
    <div class="title">
        <p style="text-align: center;"><span style="font-size: 12pt;"><strong> Ремонт тормозной системы</strong></span></p>
    </div>
    <div class="body">
        <table border="0" class="mg-tabs4" style="width: 100%;">
            <tr> 
                <td><strong>Наименование услуги</strong></td>
                <td align="center" style="text-align: center;"><strong>ед.</strong></td>
                <td align="center" style="text-align: center;"><strong>мин(руб)</strong></td>
                <td align="center" style="text-align: center;"><strong>макс(руб)</strong></td>
            </tr> 
            {% for price in site.data.price_breaks %}
            <tr>
                <td>{{ price.name }}</td>
                <td align="center" style="text-align: center;">{{ price.ie }}</td>
                <td align="center" style="text-align: center;">{{ price.min }}</td>
                <td align="center" style="text-align: center;">{{ price.max }}</td>
            </tr>
            {% endfor %} 
        </table>
    </div>
</div>
<div class="mg-tab mg-tb10">
    <div class="title">
        <p style="text-align: center;"><span style="font-size: 12pt;"><strong>Ремонт ДВС</strong></span></p>
    </div>
    <div class="body">
        <table border="0" class="mg-tabs4" style="width: 100%;">
            <tr> 
                <td><strong>Наименование услуги</strong></td>
                <td align="center" style="text-align: center;"><strong>ед.</strong></td>
                <td align="center" style="text-align: center;"><strong>мин(руб)</strong></td>
                <td align="center" style="text-align: center;"><strong>макс(руб)</strong></td>
            </tr> 
            {% for price in site.data.price_engine %}
            <tr>
                <td>{{ price.name }}</td>
                <td align="center" style="text-align: center;">{{ price.ie }}</td>
                <td align="center" style="text-align: center;">{{ price.min }}</td>
                <td align="center" style="text-align: center;">{{ price.max }}</td>
            </tr>
            {% endfor %} 
        </table>
    </div>
</div>
<div class="mg-tab mg-tb10">
    <div class="title">
        <p style="text-align: center;"><span style="font-size: 12pt;"><strong>Ремонт рулевого управления</strong></span></p>
    </div>
    <div class="body">
        <table border="0" class="mg-tabs4" style="width: 100%;">
            <tr> 
                <td><strong>Наименование услуги</strong></td>
                <td align="center" style="text-align: center;"><strong>ед.</strong></td>
                <td align="center" style="text-align: center;"><strong>мин(руб)</strong></td>
                <td align="center" style="text-align: center;"><strong>макс(руб)</strong></td>
            </tr> 
            {% for price in site.data.price_control %}
            <tr>
                <td>{{ price.name }}</td>
                <td align="center" style="text-align: center;">{{ price.ie }}</td>
                <td align="center" style="text-align: center;">{{ price.min }}</td>
                <td align="center" style="text-align: center;">{{ price.max }}</td>
            </tr>
            {% endfor %} 
        </table>
    </div>
</div>

<p style="text-align: right;"><a href="forma.html" class="mg-but mg-but5">Онлайн-заявка</a></p>

<p>&nbsp;</p>
