
<!-- .site-wrapper -->
<footer role="contentinfo" class="footer clear-self">
    <div class="footer-in">
        <div class="footer-right">
            <div class="tel-bot-title">Контакты:</div>
            +7 423 2085010<br> +7 984 1985010
            <div class="site-copyright"><span style="font-size:10px;" class="copyright"></span></div>
            <div class="site-counters"></div>
        </div>
        <div class="site-name">
            © 2017 СТО Адмирал<br>
            <span>
                Все материалы, находящиеся на сайте, охраняются в<br>
                соответствии  с законодательством, в том числе, об<br>
                авторском праве и смежных правах
            </span>
        </div>
        <div class="bot-tel">
        </div>
        <div class="clear"></div>
    </div>
</footer>
<!-- .footer -->

</body>
</html>