
<header role="banner" class="header clear-self">
    <div class="site-logo">
        <a href="index.html"><img src="{{ "/img/firmname.png" | prepend: site.baseurl }}" alt=""></a>

        <div class="site-activity">Автосервисы, ремонт транспортных средств</div>
    </div>
    <div class="top-tel">
        <div class="top-tel-title">Контакты:</div>
        +7 423 2085010 , +7 984 1985010
    </div>
    <a href="price.html" class="call-but">Цены</a>
</header>
<nav class="menu-top-wrap">
    <ul class="menu-top">
        {% assign pages_list = site.pages | sort:"menusort" %}
        {% assign group = 'topmenu' %}
        {% include pages_list.html %}
    </ul>
</nav>