
<header role="banner" class="header clear-self">
    <div class="site-logo">
        <a href="index.html"><img src="{{ "/img/firmname.png" | prepend: site.baseurl }}" alt=""></a>

        <div class="site-activity">Автосервисы, ремонт транспортных средств</div>
    </div>
    <div class="top-tel">
        <div class="top-tel-title">Контакты:</div>
        +7 423 2085010: +7 984 1985010
    </div>
    <a href="price.html" class="call-but">Скачать прайс</a>
</header>
<nav class="menu-top-wrap">
    <ul class="menu-top">
        <li class="active"><a href="index.html">Главная</a></li>
        <li><a href="price.html">Прас-лист</a></li>
        <li><a href="news.html">Новости</a></li>
        <li><a href="contacts.html">Контакты</a></li>
        <li><a href="doska.html">Доска</a></li>
        <li><a href="forma.html">Онлайн-заявка</a></li>
        <li><a href="sposoby-oplaty.html">Способы оплаты</a></li>
        <li><a href="otzyvy.html">Отзывы о нас</a></li>
    </ul>
</nav>