
<header role="banner" class="header clear-self">
    <div class="site-logo">
        <a href="{{ site.url }}"><img src="{{ "/img/firmname.png" | prepend: site.baseurl }}" alt=""></a>
        <div class="site-activity">Владивосток, 9:00 - 19:00, выходной воскресенье</div>
    </div>
    <div class="top-tel">
        <div class="top-tel-title">Контакты:</div>
        <div class="top-tel-block">Телефон: +7 (423)208-50-10</div>
        <div class="top-tel-block">WhatsApp:  8 984-198-50-10</div>
        <div class="top-tel-block">Email: <a href="mailto:{{ site.email }}?subject=Запрос с сайта {{ site.url }}">{{ site.email }}</a></div>
        <div class="top-tel-block">Instagram: <a href="https://www.instagram.com/admiralservice/">admiralservice</a></div>
    </div>
</header>
<nav class="menu-top-wrap">
    <ul class="menu-top">
        {% assign pages_list = site.pages | sort:"menusort" %}
        {% assign group = 'topmenu' %}
        {% include pages_list.html %}
    </ul>
</nav>