
<div class="otz_block">
    <div class="otz_block_name"><a href="otzyvy.html">Отзывы клиентов</a></div>
    <div class="bx-wrapper" style="max-width: 904px;">
        <div class="bx-viewport" style="width: 100%;  position: relative; height: 256px;">
            <div class="otz_block_in" style="width: 515%; position: relative; left: -1226.62px;">
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic1.png" alt="Иван Александрович">
                    </div>
                    <div class="otz_block_date">01/10/2015</div>
                    <div class="otz_block_title">Иван Александрович</div>
                    <div class="otz_block_title2">Генеральный директор</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Второй год с вами и рад! Спасибо за работу и оперативную реакцию
                                на все наши пожелания!</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic2.png" alt="Ольга Орлова"></div>
                    <div class="otz_block_date">13/07/2015</div>
                    <div class="otz_block_title">Ольга Орлова</div>
                    <div class="otz_block_title2">Менеджер</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Уже второй год обслуживаюсь в Вашем автосервисе! Очень довольна
                                Вашим сервисом.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic3.png" alt="Артем"></div>
                    <div class="otz_block_date">11/03/2015</div>
                    <div class="otz_block_title">Артем</div>
                    <div class="otz_block_title2">Продавец</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Друзья посоветовали Ваш автосервис. Я остался доволен качественным ремонтом,
                                спасибо.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic1.png" alt="Иван Александрович">
                    </div>
                    <div class="otz_block_date">01/10/2015</div>
                    <div class="otz_block_title">Иван Александрович</div>
                    <div class="otz_block_title2">Генеральный директор</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Второй год с вами и рад! Спасибо за работу и оперативную реакцию
                                на все наши пожелания!</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic2.png" alt="Ольга Орлова"></div>
                    <div class="otz_block_date">13/07/2015</div>
                    <div class="otz_block_title">Ольга Орлова</div>
                    <div class="otz_block_title2">Менеджер</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Уже второй год обслуживаюсь в Вашем автосервисе! Очень довольна
                                Вашим сервисом.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic3.png" alt="Артем"></div>
                    <div class="otz_block_date">11/03/2015</div>
                    <div class="otz_block_title">Артем</div>
                    <div class="otz_block_title2">Продавец</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Друзья посоветовали Ваш автосервис. Я остался доволен качественным ремонтом,
                                спасибо.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic1.png" alt="Иван Александрович">
                    </div>
                    <div class="otz_block_date">01/10/2015</div>
                    <div class="otz_block_title">Иван Александрович</div>
                    <div class="otz_block_title2">Генеральный директор</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Второй год с вами и рад! Спасибо за работу и оперативную реакцию
                                на все наши пожелания!</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic2.png" alt="Ольга Орлова"></div>
                    <div class="otz_block_date">13/07/2015</div>
                    <div class="otz_block_title">Ольга Орлова</div>
                    <div class="otz_block_title2">Менеджер</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Уже второй год обслуживаюсь в Вашем автосервисе! Очень довольна
                                Вашим сервисом.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic3.png" alt="Артем"></div>
                    <div class="otz_block_date">11/03/2015</div>
                    <div class="otz_block_title">Артем</div>
                    <div class="otz_block_title2">Продавец</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Друзья посоветовали Ваш автосервис. Я остался доволен качественным ремонтом,
                                спасибо.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>