---
layout: default
---
<div class="head_line">
    <div class="head_linte_text">
        <strong>Автосервис</strong>по низким ценам
    </div>
</div>
<div class="tblock">
    <div class="tblock_div">Мы гарантируем быстрое и качественное обслуживание</div>
    <div class="tblock_div">Гарантия качества 100% на все виды услуг в нашей компании</div>
    <div class="tblock_div">У нас работают дипломированные специалисты</div>
</div>
<div class="jblock">
    <div class="jblock_div">
        <a href="remont-avtomobiley">
            <div class="jblock_pic"><img src="img/jblock__pic1.png"
                                         alt="Ремонт&lt;strong&gt;автомобилей&lt;/strong&gt;"></div>
            <div class="jblock_title"><span>Ремонт<strong>автомобилей</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div">
        <a href="remont-mototsiklov">
            <div class="jblock_pic"><img src="img/jblock__pic2.png"
                                         alt="Ремонт&lt;strong&gt;Мотоциклов&lt;/strong&gt;"></div>
            <div class="jblock_title"><span>Ремонт<strong>Мотоциклов</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div">
        <a href="diagnostika">
            <div class="jblock_pic"><img src="img/jblock__pic3.png"
                                         alt="&lt;strong&gt;Диагностика&lt;/strong&gt;"></div>
            <div class="jblock_title"><span><strong>Диагностика</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div">
        <a href="slesarnyy-remont">
            <div class="jblock_pic"><img src="img/jblock__pic4.png"
                                         alt="Слесарный&lt;strong&gt;Ремонт&lt;/strong&gt;"></div>
            <div class="jblock_title"><span>Слесарный<strong>Ремонт</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div">
        <a href="kuzovnoy-remont.html-1">
            <div class="jblock_pic"><img src="img/jblock__pic5.png"
                                         alt="Кузовной&lt;strong&gt;Ремонт&lt;/strong&gt;"></div>
            <div class="jblock_title"><span>Кузовной<strong>Ремонт</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div">
        <a href="pokraska-avtomobilya">
            <div class="jblock_pic"><img src="img/jblock__pic6.png"
                                         alt="Покраска&lt;strong&gt;Автомобиля&lt;/strong&gt;"></div>
            <div class="jblock_title"><span>Покраска<strong>Автомобиля</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div">
        <a href="shinomontazh">
            <div class="jblock_pic"><img src="img/jblock__pic7.png"
                                         alt="&lt;strong&gt;Шиномонтаж&lt;/strong&gt;"></div>
            <div class="jblock_title"><span><strong>Шиномонтаж</strong></span><span></span></div>
        </a>
    </div>
    <div class="jblock_div last_bl">
        <div class="jblock_name">Возникли вопросы?</div>
        <div class="jblock_text">Оставьте заявку и мы свяжемся с Вами</div>
        <a class="top-but" href="forma.html?get_iframe_form">Оставить заявку</a>
    </div>
    <div class="clear"></div>
</div>
{{ content }}


<div class="content-wrapper clear-self" style="display:none;">
    <aside role="complementary" class="sidebar left">
        <nav class="menu-left-wrap">
            <ul class="menu-left">
                <li><a href="registraciya.html">Регистрация</a></li>
                <li><a href="bazovye-stili.html">Базовые стили</a></li>
                <li><a href="catalog.html">Услуги</a></li>
                <li><a href="diagnostika-avtomobilya.html">Диагностика автомобиля</a></li>
                <li><a href="tehnicheskoe-obsluzhivanie.html">Техническое обслуживание</a></li>
                <li><a href="kuzovnoy-remont.html">Кузовной ремонт</a></li>
                <li><a href="shinomontazh-avtomobilya.html">Шиномонтаж автомобиля</a></li>
                <li><a href="evakuaciya-transportnyh-sredstv.html">Эвакуация транспортных средств</a></li>
                <li><a href="tonirovanie-stekol.html">Тонирование стекол</a></li>
                <li><a href="diski-i-shiny.html">Диски и шины</a></li>
                <li><a href="zapchasti-dlya-avto.html">Запчасти для авто</a></li>
                <li><a href="instrumenty.html">Инструменты</a></li>
                <li><a href="search.html">Поиск по сайту</a></li>
                <li><a href="nemnogo-o-nas.html">Немного о нас</a></li>
                <li><a href="aktsiya.html">Акция</a></li>


                <li><a href="kuzovnoy-remont.html-1">Кузовной ремонт</a></li>


                <li><a href="map.html">Карта сайта</a></li>
            </ul>
        </nav>
        <div class="site-informers"><span style="display: block; padding: 5px 10px; border: 1px solid #a7a7a7;"> <span
                style="font-size: 16px; color: #3c3c3c;">Информеры</span><br>Блок для размещения информеров</span>
        </div>
    </aside>
    <!-- .sidebar-left -->
    <main role="main" class="main">
        <div class="content">
            <div class="content-inner">
                <h1>Главная</h1>


                <p>
                </p>
                <table align="center" border="0" style="width: 80%;">
                    <tbody>
                    <tr>
                        <td rowspan="2" style="text-align: center;"><a href="diski-i-shiny.html"
                                                                       target="_blank"><strong> <img
                                alt="Диски-и-шины" src="img/Диски-и-шины.png" style="border-width: 0;"
                                title=""><br> Диски и шины</strong></a></td>
                        <td rowspan="2" style="text-align: center;"><a href="zapchasti-dlya-avto.html"
                                                                       target="_blank"><strong><img
                                alt="Запчасти-для-авто" src="img/Запчасти-для-авто.png"
                                style="border-width: 0;" title=""><br>Запчасти для авто</strong></a></td>
                        <td rowspan="2" style="text-align: center;"><a href="instrumenty.html"
                                                                       target="_blank"><strong> <img
                                alt="Инструменты" src="img/Инструменты.png" style="border-width: 0;"
                                title=""><br>Инструменты</strong></a></td>
                    </tr>
                    </tbody>
                </table>
                <p></p>

                <p style="text-align: justify;">Если Вы являетесь автовладельцем, то Вам известно, насколько
                    важно заботиться о техническом состоянии Вашей «любимицы». Специалисты нашего автосервиса
                    всегда готовы прийти Вам на помощь и предоставить услуги высокопрофессионального
                    технического обслуживания.</p>

                <div class="mg-tab mg-tb10">
                    <div class="title" style="text-align: center;"><strong>СТО Адмирал</strong>&nbsp;оказывает
                        следующие виды услуг:
                    </div>
                    <div class="body">
                        <p>&nbsp;<img alt="tick____17" src="img/tick____17.png"
                                      style="border-width: 0;" title="tick____17">&nbsp;&nbsp; <em>компьютерная
                            диагностика автомобиля;</em><br><em>&nbsp;<img alt="tick____17"
                                                                           src="img/tick____17.png"
                                                                           style="border-width: 0;" title="">
                            &nbsp; кузовной ремонт авто любых марок и моделей;</em><br><em><em>&nbsp;<img
                                alt="tick____17" src="img/tick____17.png" title=""> </em>&nbsp; ремонт
                            АКПП;</em><br><em><em>&nbsp;<img alt="tick____17" src="img/tick____17.png"
                                                             title=""></em>&nbsp;&nbsp; ремонт
                            двигателя;</em><br><em><em>&nbsp;<img alt="tick____17"
                                                                  src="img/tick____17.png" title="">
                        </em>&nbsp; покраска автомобиля, а также отдельных его частей. &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp;</em></p>
                    </div>
                </div>
                <table align="center" border="0" style="width: 100%;">
                    <tbody>
                    <tr>
                        <td style="text-align: center;"><span style="font-size: 10pt;" data-mce-mark="1"><a
                                href="sposoby-oplaty.html" target="_blank"><strong>Способы оплаты</strong>...&gt;&gt;
                        </a></span></td>
                        <td style="padding-left: 360px;"><span style="font-size: 11pt;" data-mce-mark="1">&nbsp; &nbsp; &nbsp;&nbsp;<span
                                style="font-size: 10pt;"><a href="price.html" target="_blank"
                                                            class="mg-but mg-but5">Прайс -
                            лист</a></span></span></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <p style="text-align: justify;"><span style="font-size: 11pt;" data-mce-mark="1"><strong>Наши
                        клиенты</strong></span>&nbsp;- это, как правило, современные деловые люди, автомобиль
                        для них является незаменимой частью жизни. Благодаря предоставляемым нами услугам -
                        регулярному контролю и корректировке состояния транспорта - Вам не придется выбиваться
                        из графика, и Вы всегда будете в нужное время в нужном месте.</p>

                    <p style="text-align: justify;">Наш автосервис готов предоставить Вам услуги на самом
                        высоком уровне качества. Все, что Вам нужно сделать - это позвонить нам по указанному на
                        сайте телефону и оставить заявку.</p>

                    <div class="mg-tab mg-tb2">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 15%;"><img alt=" " src="img/370958208__1.jpg"
                                                             style="border: 1px solid #000000; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; float: left; margin-right: 5px;">
                                </td>
                                <td style="text-align: justify;" valign="top"><strong><a
                                        href="diagnostika-avtomobilya.html" target="_blank">Диагностика
                                    автомобиля</a><br><br>Поломка автомобиля?</strong>&nbsp;Открыли капот, но не
                                    смогли обнаружить причину самостоятельно? В этом случае требуется
                                    диагностика авто. Современная процедура, не требующая затрат времени и точно
                                    определяющая корень случившихся неполадок.&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mg-tab mg-tb3">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 15%;"><img src="img/370958608__1.jpg"
                                                             style="margin-right: 5px; border: 1px solid #ffffff; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; float: left;">
                                </td>
                                <td style="text-align: justify;" valign="top"><strong><a
                                        href="tehnicheskoe-obsluzhivanie.html" target="_blank">Техническое
                                    обслуживание</a></strong><br><br>Техническое обслуживание автомобиля - одна
                                    из услуг нашего автосервиса. Высокое качество исполнения работ и
                                    используемых материалов, оптимальный цены и профессиональный подход к
                                    каждому случаю.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mg-tab mg-tb2">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 15%;"><img src="img/370958808__1.jpg"
                                                             style="margin-right: 5px; border: 1px solid #000000; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; float: left;">
                                </td>
                                <td style="text-align: justify;" valign="top"><strong><a
                                        href="kuzovnoy-remont.html" target="_blank">Кузовной ремонт</a></strong><br><br>На
                                    автосервис оказывает профессиональные услуги по кузовному ремонту
                                    автомобиля. Полный комплекс работ по умеренным ценам приятно вас удивит!
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mg-tab mg-tb3">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 15%;"><img src="img/370959208__1.jpg"
                                                             style="margin-right: 5px; border: 1px solid #ffffff; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; float: left;">
                                </td>
                                <td style="text-align: justify;" valign="top"><strong><a
                                        href="shinomontazh-avtomobilya.html" target="_blank">Шиномонтаж
                                    автомобиля</a></strong><br><br><strong>Возникли проблемы с
                                    колесами?</strong>&nbsp;Заменить «резину» в нашем автосервисе можно без
                                    задержек даже в разгар сезона! Опытные мастера максимально быстро решат
                                    любые проблемы с шинами.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mg-tab mg-tb2">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 15%;"><img src="img/370959408__1.jpg"
                                                             style="margin-right: 5px; border: 1px solid #000000; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px;">
                                </td>
                                <td style="text-align: justify;" valign="top"><strong><a
                                        href="evakuaciya-transportnyh-sredstv.html" target="_blank">Эвакуация
                                    транспортных средств</a></strong><br><br>Неожиданная поломка автомобиля
                                    может застигнуть в пути любого автовладельца. &nbsp;Ну а если устранить
                                    неожиданную поломку не удается, бывает особенно неприятно.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mg-tab mg-tb3">
                        <table style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="width: 15%;"><img src="img/370959808__1.jpg"
                                                             style="margin-right: 5px; border: 1px solid #ffffff; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; float: left;">
                                </td>
                                <td style="text-align: justify;" valign="top"><strong><a
                                        href="tonirovanie-stekol.html" target="_blank">Тонирование
                                    стекол</a></strong><br><br>Для придания неповторимого стиля, шарма и лоска
                                    вашему автомобилю не обойтись без такой услуги как тонирование стекол авто.
                                    Улучшая внешний вид, тонировка способна превратить обычное стекло в
                                    конструкцию, которая совмещает в себе комфорт, безопасность и свойства
                                    энергосбережения.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mg-tab mg-tb5">
                        <p style="text-align: center;"><em><strong>Адрес:</strong>&nbsp;г. Владивосток, ул.
                            Тухачевского, 70Б</em><br><em><strong>Телефон:&nbsp;</strong>+7 423 2085010, +7 984
                            1985010</em></p>

                        <p>
                        </p>
                        <table align="center" border="0" class="table0" style="width: 80%;">
                            <tbody>
                            <tr>
                                <td style="text-align: center;"><span style="font-size: 11pt;"
                                                                      data-mce-mark="1"><a href="forma.html"
                                                                                           target="_blank"
                                                                                           class="mg-but mg-but3">Онлайн-заявка</a></span>
                                </td>
                                <td style="text-align: center;"><span style="font-size: 11pt;"
                                                                      data-mce-mark="1"><a href="otzyvy.html"
                                                                                           target="_blank"
                                                                                           class="mg-but mg-but3">Отзывы
                                    о нас</a></span></td>
                            </tr>
                            </tbody>
                        </table>
                        <p></p>
                    </div>
                    <div align="right"><em>Внимание! Текст этой страницы шаблонный, его необходимо заменить
                        на</em><br><em>Ваш собственный уникальный текст, чтобы сайт находился в поисковых
                        системах!</em></div>
                </div>


            </div>
            <!-- .content-inner -->
        </div>
        <!-- .content -->
    </main>
    <!-- .main -->
</div>
<!-- .content-wrapper -->
<div class="bblock">
    <div class="bblock_title">Акция</div>
    <div class="bblock_text">
        <p>Только в этом месяце <strong>скидка 30 %</strong><br>на всю продукцию нашей компании</p>
    </div>
    <a href="aktsiya.html" class="bblock_more">Подробнее</a></div>
<div class="otz_block">
    <div class="otz_block_name"><a href="otzyvy.html">Отзывы клиентов</a></div>
    <div class="bx-wrapper" style="max-width: 904px;">
        <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 256px;">
            <div class="otz_block_in" style="width: 515%; position: relative; left: -1226.62px;">
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic1.png" alt="Иван Александрович">
                    </div>
                    <div class="otz_block_date">01/10/2015</div>
                    <div class="otz_block_title">Иван Александрович</div>
                    <div class="otz_block_title2">Генеральный директор</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Второй год с вами и рад! Спасибо за работу и оперативную реакцию
                                на все наши пожелания!</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic2.png" alt="Ольга Орлова"></div>
                    <div class="otz_block_date">13/07/2015</div>
                    <div class="otz_block_title">Ольга Орлова</div>
                    <div class="otz_block_title2">Менеджер</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Уже второй год обслуживаюсь в Вашем автосервисе! Очень довольна
                                Вашим сервисом.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic3.png" alt="Артем"></div>
                    <div class="otz_block_date">11/03/2015</div>
                    <div class="otz_block_title">Артем</div>
                    <div class="otz_block_title2">Продавец</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Друзья посоветовали Ваш автосервис. Я остался доволен качественным ремонтом,
                                спасибо.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic1.png" alt="Иван Александрович">
                    </div>
                    <div class="otz_block_date">01/10/2015</div>
                    <div class="otz_block_title">Иван Александрович</div>
                    <div class="otz_block_title2">Генеральный директор</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Второй год с вами и рад! Спасибо за работу и оперативную реакцию
                                на все наши пожелания!</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic2.png" alt="Ольга Орлова"></div>
                    <div class="otz_block_date">13/07/2015</div>
                    <div class="otz_block_title">Ольга Орлова</div>
                    <div class="otz_block_title2">Менеджер</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Уже второй год обслуживаюсь в Вашем автосервисе! Очень довольна
                                Вашим сервисом.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic3.png" alt="Артем"></div>
                    <div class="otz_block_date">11/03/2015</div>
                    <div class="otz_block_title">Артем</div>
                    <div class="otz_block_title2">Продавец</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Друзья посоветовали Ваш автосервис. Я остался доволен качественным ремонтом,
                                спасибо.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic1.png" alt="Иван Александрович">
                    </div>
                    <div class="otz_block_date">01/10/2015</div>
                    <div class="otz_block_title">Иван Александрович</div>
                    <div class="otz_block_title2">Генеральный директор</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Второй год с вами и рад! Спасибо за работу и оперативную реакцию
                                на все наши пожелания!</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic2.png" alt="Ольга Орлова"></div>
                    <div class="otz_block_date">13/07/2015</div>
                    <div class="otz_block_title">Ольга Орлова</div>
                    <div class="otz_block_title2">Менеджер</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Молодцы ребята! Уже второй год обслуживаюсь в Вашем автосервисе! Очень довольна
                                Вашим сервисом.</p>
                        </div>
                    </div>
                </div>
                <div class="otz_block_div bx-clone"
                     style="float: left; list-style: none; position: relative; width: 286.667px; margin-right: 20px;">
                    <div class="otz_block_pic"><img src="img/otz__pic3.png" alt="Артем"></div>
                    <div class="otz_block_date">11/03/2015</div>
                    <div class="otz_block_title">Артем</div>
                    <div class="otz_block_title2">Продавец</div>
                    <div class="clear"></div>
                    <div class="otz_block_text">
                        <div class="otz_block_text_in">
                            <p>Друзья посоветовали Ваш автосервис. Я остался доволен качественным ремонтом,
                                спасибо.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bx-controls bx-has-controls-direction">
            <div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a>
            </div>
        </div>
    </div>
</div>