---
layout: default
---


<div class="content-wrapper clear-self">
    <aside role="complementary" class="sidebar left">
        <nav class="menu-left-wrap">
            <ul class="menu-left">
                <li><a href="/services/diagnostika-avtomobilya.html">Диагностика автомобиля</a></li>
                <li><a href="/services/replacement-of-fluids-and-filters.html">Замена технических жидкостей и фильтров</a></li>
                <li><a href="/services/chassis-repair.html">Ремонт ходовой части</a></li>
                <li><a href="/services/brake-system.html">Ремонт тормозной системы</a></li>
                <li><a href="/services/repair-ice.html">Ремонт ДВС</a></li>
                <li><a href="/services/repair-of-steering.html">Ремонт рулевого управления</a></li>
                <li><a href="/services/diagnosis-of-the-vehicles-electrical.html">Диагностика электрооборудования автомобиля сканером </a></li>
                <li><a href="/services/shinomontazh-avtomobilya.html">Шиномонтаж</a></li>

                {% comment %}
                <li><a href="diski-i-shiny.html">Диски и шины</a></li>
                <li><a href="zapchasti-dlya-avto.html">Запчасти для авто</a></li>
                <li><a href="evakuaciya-transportnyh-sredstv.html">Эвакуация транспортных средств</a></li>  
                <li><a href="kuzovnoy-remont.html">Кузовной ремонт</a></li>
                <li><a href="instrumenty.html">Инструменты</a></li>
                <li><a href="search.html">Поиск по сайту</a></li>
                <li><a href="aktsiya.html">Акция</a></li>
                <li><a href="tonirovanie-stekol.html">Тонирование стекол</a></li>
                <li><a href="nemnogo-o-nas.html">Немного о нас</a></li>
                <li><a href="catalog.html">Услуги</a></li>
                <li><a href="registraciya.html">Регистрация</a></li>
                <li><a href="bazovye-stili.html">Базовые стили</a></li>
                <li><a href="map.html">Карта сайта</a></li>
                {% endcomment %}
            </ul>
        </nav>
    </aside>
    <!-- .sidebar-left -->
    <main role="main" class="main">
        <div class="content">
            <div class="content-inner">
                <div class="site-path"><a href="index.html">Главная</a> / {{ page.title }}</div>
                <h1>{{ page.title }}</h1>
                	{{ content }}

            </div>
            <!-- .content-inner -->
        </div>
        <!-- .content -->
    </main>
    <!-- .main -->
</div>

{% include akcii.html %}
{% include reviews.html %}